/*************************************************************
GENERAL
*************************************************************/

body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

#sidebar {
    display: block;
    max-width: 90%;
    padding: 0 5%;
    text-align: left;
    margin-top: 0;
}

#sidebar.login, #sidebar.contact, #sidebar.account{
    display: none;
    max-width: 90%;
    margin: 5px 10px;
}


#main {
    display: inline-block;
    width: 90%;
    padding: 0 10px;
    text-align: center;
    background: yellow;
    margin-top: 0;
}


#loginSection form input{
    align-content: center;
}




a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

p {
    display: block;
    margin-top: 0;
    padding: 10px 10px;
    background: #cdcdcd;
}

/*************************************************************
HEADING
*************************************************************/

header {
    position: relative;
    float: left;
    margin-bottom: 20px;
    padding: 5px 0 0 0;
    width: 100%;
    border-bottom: 5px solid black;
    margin-top: 0;
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Changa One', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
}

h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}
/*************************************************************
NAVIGATION
*************************************************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 10px 0 0;
}

nav ul {
    line-style: none;
    margin: 0 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 400;
    padding: 10px 0;
}


/*************************************************************
FOOTER
*************************************************************/

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    font-size: 1em;
    text-align: center;
    //clear: both;
    padding-top: 50px;
    color: #cc0012;
}



/*************************************************************
Drop Downs
*************************************************************/

/* Dropdown Button */
.account-dropbutton {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.account-dropdown {
    margin: 0;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.account-dropdown-content {
    margin: 0;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

/* Links inside the dropdown */
.account-dropdown-content a {
    margin: 0;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.account-dropdown:hover .account-dropdown-content {
    margin: 0;
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.account-dropdown:hover .account-dropbutton {
}



/*************************************************************
COLORS
*************************************************************/


/* site body */
body {
    background-color: #000000;
    color: #000000;
}

#navsite {
    background-color: #cdcdcd;
}
#sidebar {
    background-color: yellow;
}

#main {
    background-color: yellow;
    color: black;
}

/* header */
header {
    background: #646464;
}

/* nav background */
nav {
    background: none;
}

/* logo text */
h1, h2 {
    color: #fffe00;
}

/* links */
a {
    color: #00ff03;
}

/* nav link */
nav a, nav a:visited {
    color: black;
}

/* selected nav link */
nav a.selected, nav a:hover {
    //color: #fffe00;
}

.account-dropbutton {
    background-color: #000000;
    color: #e6e6e6;
}

.account-dropbutton.selected{
    color: yellow;
}

.account-dropbutton:hover{
    background-color: yellow;
    color: black;

}

.account-dropdown-content {
    background-color: #cdcdcd;
    color: black;
}

.account-dropdown-content a {
    color: black;
}

/* Change color of dropdown links on hover */
.account-dropdown-content a:hover {
    background-color: yellow;
    color: black;
}

#loginSection, #loginSection form {
    color: blue;
}

#flightQuery{
    display: block;
    width: 90%;
    margin: 10px 5%;
    border-bottom: solid medium deeppink;

}

.trip_places {
    font-size: 1.2em;
    color: blue;
    text-align: left;
    margin: 0;
    padding: 0;
}

.trip_places leave {
    color: green;
}
.trip_places sep {
    font-size: 0.8em;
    color: black;
}

.trip_date {
    font-size: 0.8em;
    text-align: left;
}

.trip_time {
    font-size: 1.1em;
}




#adminManagers{
    width: 90%;
    margin: 0 5%;
}

#adminManagers form{
    width: 90%;
    margin: 0 5%;
}

#adminManagers form input{
    margin: 0 5% 0 0;
}

.admin_man_table{
    border-top: solid medium black;
    width: 90%;
    margin: 20px 5%;
}

.admin_man_table th {
    font-size: 1.3em;
    text-align: left;
    padding: 20px 0 0 0;
    width: 30%;
}
.admin_man_table td, .admin_man_table tr{
    padding: 10px 0 0 0;
    text-align: left;
}

.admin_man_table td {
    width: 30%;
}




#adminFlights{
    width: 90%;
    margin: 0 5%;
    padding: 0 0 10px 0;
}

#adminFlights form{
    width: 90%;
    margin: 0 5%;
    background: #969696;
}

.admin_flight_type {
    width: 90%;
    margin: 0 5%;
    background: #969696;
}

.admin_flight_info {
    width: 80%;
    margin: 0 10%;
    padding: 0 0 10px 0;
    background: #969696;
}

.admin_flight_info input{
    margin: 0 5% 0 0;
}

.admin_flight_info_button {
    float: right;
    margin: 0 5% 10px 0;

}

.admin_flight_table {
    border-top: solid medium black;
    width: 90%;
    margin: 20px 5%;
}

.admin_flight_table th {
    font-size: 1.3em;
    text-align: left;
    padding: 20px 0 0 0;
    width: 12.5%;
}
.admin_flight_table td, .admin_flight_table tr{
    padding: 10px 0 0 0;
    text-align: left;
}

.admin_flight_table td {
    width: 12.5%;
}



#adminPlanes{
    width: 90%;
    margin: 0 5%;
}

#adminPlanes form{
    width: 90%;
    margin: 0 5%;
}

#adminPlanes form input{
    margin: 0 5% 0 0;
}

.admin_planes_table {
    border-top: solid medium black;
    width: 90%;
    margin: 20px 5%;
}

.admin_planes_table th {
    font-size: 1.3em;
    text-align: left;
    padding: 20px 0 0 0;
    width: 10%;
}
.admin_planes_table td, .admin_planes_table tr{
    padding: 10px 0 0 0;
    text-align: left;
}

.admin_planes_table tr td {
    width: 10%;
}




/*
#adminFlights form p1 {
    width: 90%;
    display: block;
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

#adminFlights form p2 {
    display: block;
    width: 90%;
    font-size: 1em;
    margin: 0 0 10px 0;
}

#adminFlights form input {
    width: 20%;
    margin: 0 0 10px 0;
}

*/

.planeFormInputTitle {
    width: 30ch;
}

.planeFormInputTitle, .planeFormInputTitle input {
    display: inline-flex;
}

#adminPlanes form ul li {
    padding: 5px 0 0 0;
}

#adminPlanes form button {
    margin: 5px 0 0 0;
}